.message-data
  .message-data__name
    .user
      = message.user.name
    .date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-data__comment
    - if message.content.present?
      %p.message-data__comment--list
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?